Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/BPs/ZooWorld_BuiltData.uasset
Content/BPs/ZooWorld_BuiltData.uasset
